# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
        tconstruct
        intangible
     >
    S:"Mod Aliases" <
        nautralpledge=botania
        thermalexpansion=thermalfoundation
        thermaldynamics=thermalfoundation
        thermalcultivation=thermalfoundation
        immersivepetroleum=immersiveengineering
        rftoolsdim=rftools
     >
    B:"Morph in the offhand instead of mainhand"=false
    S:"Whitelisted Items" <
        botania:twigwand
		immersiveengineering:tool:0
        appliedenergistics2:network_tool
     >
    S:"Whitelisted Names" <
        wrench
        screwdriver
        hammer
        rotator
		scrench
     >
}


